.card-number {
  margin-bottom: 40px;

  font-size: 64px;
  font-family: 'Neucha', sans-serif;
  line-height: 1;
}

.card-title {
  color: var(--primary-light-color);
  font: 34px / 1.2em 'Neucha', cursive;
}

.card {
  padding: 24px;

  cursor: pointer;
}

.card:hover,
.card:focus {
  background-color: var(--primary-light-color);
}

.card:hover,
.card:focus,
.card:hover .card-title,
.card:focus .card-title {
  color: var(--white-color);
}
