.position-relative {
  position: relative;
}

.width-400 {
  width: 400px;
}

.display-flex {
  display: flex;
}

.direction-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.p-4 {
  padding: 4px;
}

.pt-100 {
  padding-top: 100px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-70 {
  margin-top: 70px;
}

.color-primary {
  color: var(--primary-light-color);
}

.color-secondary {
  color: var(--secondary-color);
}

.color-white {
  color: var(--white-color);
}

.color-blue {
  color: var(--blue-color);
}

.light-background {
  background-color: var(--light-background-color);
}

.dark-background {
  background-color: var(--dark-background-color);
}

.fw-bold {
  font-weight: bold;
}

.decoration-underline {
  text-decoration: underline;
}
