.button {
  display: block;
  width: fit-content;
  padding: 11px 24px;

  background-color: var(--primary-light-color);
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: var(--orange-color);
}

.button-link {
  color: var(--white-color);
  font-weight: bold;
}

.send-button {
  width: 70px;
  height: 50px;
}
