.header {
  overflow: hidden;
}

.header-title {
  position: relative;

  z-index: 2;

  margin-bottom: 225px;
}

.header-image {
  position: absolute;
  top: 50px;
  right: -200px;
  z-index: 1;

  height: 505px;
}
