.navigation-section {
  background-color: var(--primary-dark-color);
}

.navigation-block {
  box-sizing: border-box;
}

.navigation-title {
  width: 350px;

  font-size: 52px;
}

.navigation-card-number {
  margin-bottom: 40px;

  font-size: 64px;
  font-family: 'Neucha', sans-serif;
  line-height: 1;
}

.navigation-card-link {
  padding: 24px;

  cursor: pointer;
}

.navigation-card-link:hover {
  background-color: var(--primary-light-color);
}

.navigation-card-link:hover,
.navigation-card-link:hover h4 {
  color: var(--white-color);
}
