.navigation-section {
  background-color: var(--primary-dark-color);
}

.navigation-block {
  box-sizing: border-box;
}

.navigation-title {
  width: 350px;
}

.navigation-card {
  padding: 24px;

  cursor: pointer;
}

.navigation-card:hover {
  background-color: var(--primary-light-color);
}

.navigation-card:hover a,
.navigation-card:hover a h4 {
  color: var(--white-color);
}
