.navigation-section {
  padding-top: 100px;

  background-color: var(--primary-dark-color);
}

.navigation-block {
  width: calc(302px - 7px);
}

.navigation-title {
  width: 350px;
}

.navigation-card {
  padding: 24px;

  background-color: var(--light-background-color);
  cursor: pointer;
}

.navigation-card:hover {
  background-color: var(--primary-light-color);
}

.navigation-card:hover a {
  color: var(--white-color);
}

.navigation-card:hover a h4 {
  color: var(--white-color);
}
