:root {
  --white-color: #fff;
  --orange-color: #ea7600;
  --light-background-color: #f5f4f0;
  --dark-background-color: #b09a81;
  --primary-light-color: #fe8a02;
  --primary-dark-color: #42413c;
  --secondary-color: #908d8b;
  --dark-text-color: #2a2626;
}

html {
  color: var(--dark-text-color);
  font: 16px / 1.6em 'Open Sans', sans-serif;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

a {
  text-decoration: none;
}

.display-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.primary-color {
  color: var(--primary-light-color);
}

.button {
  display: block;
  width: fit-content;
  padding: 11px 24px;

  background-color: var(--primary-light-color);
  cursor: pointer;
}

.button:hover {
  background-color: var(--orange-color);
}

.button-link {
  color: var(--white-color);
  font-weight: bold;
}

.content-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 100px 0;
}

.header::before {
  position: absolute;
  z-index: -10;

  width: 100%;
  height: 100%;

  background: var(--light-background-color) url('../images/background-pattern.svg') no-repeat;
  background-size: cover;

  content: '';
}

.header-title {
  margin-bottom: 225px;
}

.header-image {
  position: absolute;
  top: 50px;
  right: 150px;
  z-index: 10;

  height: 505px;
}

.header-text-container {
  width: calc(50% - 15px);
}
