:root {
  --white-color: #fff;
  --orange-color: #ea7600;
  --blue-color: #1085c5;
  --light-background-color: #f5f4f0;
  --dark-background-color: #b09a81;
  --primary-light-color: #fe8a02;
  --primary-dark-color: #42413c;
  --secondary-color: #908d8b;
  --dark-text-color: #2a2626;
}
